*{
    padding:0;
    margin:0;
    font-family: 'sans-serif','Roboto';
}
.body{
    background-image:url("/black.png") ;
    height: 55rem;
    background-size: cover;
    background-position: center;
    text-align:center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-shadow: 3px 3px 10px black;
}

.navbar{
    width: 100%;
    margin: auto;
    padding:35px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgb(19, 18, 18);
   

}


.navbar ul li{
    list-style:none;
    display:inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration:none;
    color:rgb(247, 247, 247);
    
}
.navbar ul li::after{
    content:'';
    height:3px;
    width:100%;
    background: #032db8;
    left:0;
    bottom: 0;
    position: absolute;
    
}

.logo{
    width:100px;
}

.artical h1{
    float:right;
    width:300px;
    color:rgb(255, 255, 255);
    padding:12px 0;
    margin-top:30px;
}


.card{
    width:200px;
    height:230px;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 10px 10px 10px;
    background-image:url('yamaha.jpg');
    background-size: cover;
    background-position:center;
    float:left;
    display:inline-block;
}
.card2{
    background-image:url('kawasaki.jpg');
    background-size: cover;
    background-position:center;
    width:200px;
    height:230px;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 10px 10px 10px;
    display:inline-block;
    float: left;
    color: aliceblue;

}
.card3{
    background-image:url('honda.jpg');
    background-size: cover;
    background-position:center;
    width:200px;
    height:230px;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 10px 10px 10px;
    display:inline-block;
    float: left;

}
.card4{
    background-image:url('ducati.jpg');
    background-size: cover;
    background-position:center;
    width:200px;
    height:230px;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing:border-box;
    cursor:pointer;
    margin:10px 10px 10px 10px;
    display:inline-block;
    float: left;

}
