*{
    padding:0;
    margin:0;
    font-family: 'sans-serif','Roboto';
}
.body{
    background-image:url("/black.png") ;
    height: 1500px;
    background-size: cover;
    background-position: center;
    text-align:center;
    padding-top: 15rem;
    padding-bottom: 15rem;
    text-shadow: 3px 3px 10px black;
}
.navbar-brand{
    height:100px;
    width: 100px;
}

.first{
    float:right;
}
.card{
    width:200px;
    height:230px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    clip-path:circle();
}
 .text-white{
    text-decoration:none; 
}

}
.rr{
    background-color:white !important;
}
.nav-item{
    position:relative ;

}
ul li::after{
    content:'';
    height:3px;
    width:0;
    background: #06039b;
    left:0;
    bottom: -12px;;
    position: absolute;
    transition: 0.3s;
}
ul li:hover::after{
    width: 100%;
}
